#Wrapper{

    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
#LeftBlock{

    position: sticky;
    top: 0;
    z-index: 1;
    left:0;
    width:50%;
    float: left;
    height: 100vh;

    display: flex;
    justify-content: center;
    
}
#LeftBlockBatMan{
    position: sticky;
    top: 0;
    z-index: 1;
    left:0;
    width:50%;
    float: left;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("images\batman.jpg");
    
}
#rightsideLeftBlock{
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 1px;
    margin-right: 15%;
    top:30%;
    margin-left: 50%;
}
#RightBlock{
    flex: 1;
    overflow-y: auto;
    right:0 ;
    top:0;
    width: 50%;
    float:right;
}

#TopLeft{
    height: fit-content;
    width: 500vw;
}
#centreLeft{
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 1px;
    top:40%
}

#BottomLeft{
    position: absolute;
    bottom: 5px;
    width:fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    height: fit-content;
}

#bottomImgs{
    height: 5vh;
    width: 5vh;
}
#bg{
    background: linear-gradient(-45deg, #111f44, #9400D3, #3a68dc,#CF9FFF);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

#bg-Batman{
    background: linear-gradient(-45deg, #050A30, #000C66, #050A30,#000000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}


#aboutMe{
    height: fit-content;
}

#Education{
    height: fit-content;
}

#Skills{
    height: fit-content;
}

#Likes{
    height: fit-content;
}
#text{
    font-size: x-large;
    color: #e2e8f0;
    text-align: justify;
}

#headings{
    font-size: xxx-large;
    color: #e2e8f0;
}
#subHeading{
    font-size: xx-large;
    color: #e2e8f0;
}
#references{
    height: fit-content;
}
#projects{
    height: fit-content;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}